import(rJava)

export(".jvmr.jar")
export(".jvmr.alljars")
export(".jvmr.alljars.vector")
export(".bsh.jar")

export("scalaInterpreter","javaInterpreter")
export("interpret","interpret<-")

S3method("interpret","RScalaInterpreter")
S3method("interpret","RJavaInterpreter")

S3method("[", "RScalaInterpreter")
S3method("[", "RJavaInterpreter")

S3method("interpret<-","RScalaInterpreter")
S3method("interpret<-","RJavaInterpreter")

S3method("[<-", "RScalaInterpreter")
S3method("[<-", "RJavaInterpreter")

